@model IEnumerable<AppointmentUserInfo>

@{
    ViewData["Title"] = "ShowAppointmentCurrent";
}

<h1 class="text-black mt-2 mb-4">Appointments</h1>

<a class="a" asp-action="ShowAppointmentCurrent" asp-controller="Appointment">
    <button type="button" class="btn btn-outline-primary">Appointments</button>
</a>
<a asp-action="ShowCanceledHistory" asp-controller="Appointment" style="text-decoration:none">
    <button type="button" class="btn btn-outline-primary">Canceled History</button>
</a>
<a asp-action="ShowBookingHistory" asp-controller="Appointment">
    <button type="button" class="btn btn-outline-primary">Haircut History</button>
</a>
<div>
    <table class="table table-bordered" style="margin-bottom:450px">
        <thead>
            <tr>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Booking Time
                </th>
                <th scope="col">
                    Employee Name
                </th>
                <th scope="col">
                    Service Name
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.BookingTime
                        </td>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td>
                            @item.ServiceName
                        </td>
                        <td>
                            <a asp-action="CanceledByClient" asp-route-app_id="@item.app_id" style="text-decoration:none" onclick="return confirm('Do you want to cancel this appointment?')">
                                <img style="width:40px;height:40px" src="~/images/rejected.png" alt="" />
                            </a>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>

</div>
