@model IEnumerable<AppointmentUserInfo>

@{
    ViewData["Title"] = "ShowTaskEmployee";
}

<h1 class="text-black">Your Tasks</h1>

        <form asp-action="ShowTaskEmployee" asp-controller="Appointment" method="get">
            <div class="input-group mt-2">
                <input type="date" style="width:17rem;height:40px" placeholder="Filtering By Date" aria-label="Search" name="date_show_task">
                <button class="bg-black text-white" type="submit">Filter</button>
            </div>
        </form>
        <label style="color:red">@ViewBag.SearchMessageDate</label>

        <a asp-action="CreateAppointment" class="mt-3">
            <img style="width:60px;height:60px" src="~/images/plus.png" alt="Create New" />
        </a>

<div class="table-responsive">
    <table class="table table-bordered" style="margin-bottom:200px">
        <thead>
            <tr>
                <th scope="col">
                    Date
                </th>
                <th scope="col">
                    Booking Time
                </th>
                <th scope="col">
                    Finish Time
                </th>
                <th scope="col">
                    Status
                </th>
                <th scope="col">
                    Customer Name
                </th>
                <th scope="col">
                    Service Name
                </th>
                <th scope="col">Cancel</th>
                <th scope="col">Edit || Delete</th>
                <th scope="col">Done</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.BookingTime
                    </td>
                    <td>
                        @item.FinishTime
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.BookedUserName
                    </td>
                    <td>
                        @item.ServiceName
                    </td>
                    <td>

                        <a asp-action="Refuse" asp-route-app_id="@item.app_id" style="text-decoration:none" onclick="return confirm('Do you want to cancel this appointment?')">
                            <img style="width:40px;height:40px" src="~/images/rejected.png" alt="" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-app_id="@item.app_id" style="text-decoration:none">
                            <img style="width:40px;height:40px" src="~/images/edit.png" alt="" />
                        </a>
                        ||
                        <a asp-action="Delete" asp-route-app_id="@item.app_id">
                            <img style="width:40px;height:40px" src="~/images/delete.png" alt="" />
                        </a>
                    </td>
                    <td>
                        <a asp-action="Done" asp-route-app_id="@item.app_id" style="text-decoration:none">
                            <img style="width:40px;height:40px" src="~/images/ready.png" alt="" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
