<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-5">
        <div class="col">
            <div class="card">

                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Index" asp-controller="Chart" method="get">
                         
                            <div data-mdb-input-init class="form-outline ms-3 mt-2 mb-4">
                                <label class="control-label text-black">Choose Starting Time:</label>
                                <input type="date" class="form-control" placeholder="" aria-label="Search" name="startTime">
                                <label class="control-label text-black">Choose Ending Time:</label>
                                <input type="date" class="form-control" placeholder="" aria-label="Search" name="endTime">
                                <button class="bg-black text-white" type="submit">Filter</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
                <h5 class="text-black ms-3">Total Revenue Of Salon: @ViewBag.Total VND</h5>
                <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>

                <script>
                   
                    var xValues = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListKey))');
                    var yValues = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListValue))');
                    var barColors = ["red"];

                    new Chart("myChart1", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: "The total amount of money each employee brings to the Salon"
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Index" asp-controller="Chart" method="get">

                            <div data-mdb-input-init class="form-outline ms-3 mt-2 mb-4">
                                <label class="control-label text-black">Choose Starting Time:</label>
                                <input type="date" class="form-control" placeholder="" aria-label="Search" name="startTime1">
                                <label class="control-label text-black">Choose Ending Time:</label>
                                <input type="date" class="form-control" placeholder="" aria-label="Search" name="endTime1">
                                <button class="bg-black text-white" type="submit">Filter</button>
                            </div>
                        </form>

                    </div>
                </div>
                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                <script>
                    var xValues = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListKeyName))');
                    var yValues = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.ListValueNumber))');
                    var barColors = ["red", "green", "blue", "orange", "brown"];

                    new Chart("myChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: "Trend of customers choosing Hairdresser"
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>


            </div>
        </div>

    </div>
</body>
</html>






